{% extends 'base.html' %}
{% block content %}
<body>
<nav class="navbar">
    <div class="navwrap">
      <div class="nav_logo_wrap" href="#" onClick="{% url 'hopecharm:index' %}', '_blank')">
        <div class="nav_logo_image"></div>
        <span class="nav_logo_text">희망참</span>
      </div>

      <div class="nav_login">
        <ul>
          <li class="nav-item ">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">{{ user.username }} (로그아웃)</a>
            {% else %}
            <a class="nav-link" href="{% url 'login'  %}">로그인</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class='container_detail'>
  <div class='det_title'>
    {% for t in title%}
    <h1 style='text-align:center'>{{user.username}}님의 {{t.rec_date}}에 대한 통계입니다.</h1>
    {% endfor %}
  </div>
  <!-- 1행 : 파이그래프 2개-->
  <div class='pie_wrap'>
    <div class='my_pie'><canvas id="myChart3"></canvas></div>   <!--clean 포함-->   
    <div class='v-line'></div>
    <div class='my_pie'><canvas id="myChart4"></canvas></div> <!--clean 미포함-->
  </div>
  <!-- 2행 : 라인그래프 -->
  <div class='line_wrap'>
    <div class='my_line'>        
      {% autoescape off %} {{ fig_timeline_html }} {% endautoescape %}
    </div>
  </div>
  <!-- 3행 : top3 혐오유형에 대한 대응교육 표현 -->
  <div class="edu_wrap">
    <div class="edu">
      <div class="edu_title">
        <span>오늘의 혐오유형 Top1 : {{top3.0}}</span>
        <span style='font-size:1.8ex'>혐오유형에 대한 대응교육 정보</span>
      </div>
      <table>
        <tr class='rel_edu'>
          <td href="#" onClick="window.open('https://amnesty.or.kr/campaign/edu_againsthate', '_blank')">
            야!너두 할 수 있어!대항표현!</td>
        </tr>
        <tr class='rel_edu'>
          <td  href="#" onClick="window.open('https://www.youtube.com/watch?v=O-gOyJaDUJs&ab_channel=%EA%B5%AD%EA%B0%80%EC%9D%B8%EA%B6%8C%EC%9C%84%EC%9B%90%ED%9A%8C', '_blank')">
            혐오유감</td>
        </tr>
        <tr class='rel_edu'>
          <td  href="#" onClick="window.open('https://www.youtube.com/watch?v=SK3m0FkkFQA', '_blank')">
            민주시민교육 - 혐오차별 편견 예방 교육1</td>
        </tr>
        <tr class='rel_edu'> 
          <td  href="#" onClick="window.open('https://www.youtube.com/watch?v=MJ8p-8sCxOI&t=0s', '_blank')">
            민주시민교육 - 혐오차별 편견 예방 교육2</td>
        </tr>
        <tr class='rel_edu'>
          <td  href="#" onClick="window.open('https://www.youtube.com/watch?v=MJ8p-8sCxOI&t=0s', '_blank')">
            민주시민교육 - 혐오차별 편견 예방 교육3</td>
        </tr>
      </table>
    </div>
    <div class="edu">
      <div class="edu_title">
        <span>오늘의 혐오유형 Top2 : {{top3.1}}</span>
        <span style='font-size:1.8ex'>혐오유형에 대한 대응교육 정보</span>
      </div>
      <table>
        <tr class='rel_edu'>
          <td  href="#" onClick="window.open('https://www.youtube.com/watch?v=RALA49SP7iE&ab_channel=ILAHFY', '_blank')">
            우리가 알지 못했던 차별</td>
        </tr>
        <tr class='rel_edu'>
          <td  href="#" onClick="window.open('https://www.youtube.com/watch?v=fYNO7cVojUM', '_blank')">
            혐오, 영혼의 살인｜학생인권의 날<br>｜혐오표현</td>
        </tr>
        <tr class='rel_edu'>
          <td  href="#" onClick="window.open('https://www.youtube.com/watch?v=0lZ-8zXs1xI', '_blank')">
            혐오차별 대응-학생편</td>
        </tr>
        <tr class='rel_edu'> 
          <td  href="#" onClick="window.open('https://jisike.ebs.co.kr/jisike/vodReplayView?siteCd=JE&prodId=352&courseId=BP0PAPB0000000009&stepId=01BP0PAPB0000000009&lectId=60176901', '_blank')">
            아이, 청소년, 중년, 강아지는 출입 금지</td>
        </tr>
        <tr class='rel_edu'>
          <td  href="#" onClick="window.open('https://www.youtube.com/watch?v=RONP0PQhGz8&list=PLYKtfwhjujkJ2EUN_tEh2uTIbXuDdjrYk&index=8', '_blank')">
            혐오차별대응공모전 4컷만화 수상작 모음</td>
        </tr>
      </table>
    </div>
    <div class="edu">
      <div class="edu_title">
        <span>오늘의 혐오유형 Top3 : {{top3.2}}</span>
        <span style='font-size:1.8ex'>혐오유형에 대한 대응교육 정보</span>
      </div>
      <table>
        <tr class='rel_edu'>
          <td  href="#" onClick="window.open('https://sangkwon-ssam.tistory.com/83', '_blank')">
            [학교폭력예방교육] 불편한 것/SNS/욕설<br>/화장(2023ver.)</td>
        </tr>
        <tr class='rel_edu'>
          <td  href="#" onClick="window.open('https://www.hani.co.kr/arti/society/schooling/885533.html', '_blank')">
            교실 속 혐오 표현에 단호히 대처하세요</td>
        </tr>
        <tr class='rel_edu'>
          <td  href="#" onClick="window.open('https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=knoc3&logNo=222167975415', '_blank')">
            혐오표현 바로알기</td>
        </tr>
        <tr class='rel_edu'> 
          <td  href="#" onClick="window.open('https://edpolicy.kedi.re.kr/frt/boardView.do?strCurMenuId=54&nTbBoardArticleSeq=828977', '_blank')">
            미국의 혐오 대응 교육 현황</td>
        </tr>
        <tr class='rel_edu'>
          <td  href="#" onClick="window.open('https://edpolicy.kedi.re.kr/frt/boardView.do?strCurMenuId=54&nTbBoardArticleSeq=828979', '_blank')">
            영국의 혐오 대응 교육 현황</td>
        </tr>
      </table>
    </div>
  </div>
</div>
  <!-- vis1 chart.js -->
  <script>
    const datas = {{daily_list_pie}};
    $(function () {
        var ctx_3 = document.getElementById("myChart3").getContext('2d');
        var data_3 = {
          label:'일간 혐오표현 유형별 통계',
            datasets: [{
                data: [datas[9][11], datas[0][2], datas[1][3], datas[2][4], datas[3][5], datas[4][6], datas[5][7],
                datas[6][8], datas[7][9], datas[8][10]],
                backgroundColor: ['#3c8dbc','#f39c12','#dfaebd','#434343','#33115c',
                '#226d1f','#069583','#95c798','#f56954', '#e9c46a'],
            }],
            labels: ["해당없음","여성/가족", "남성", "성소수자", "인종/국적", "연령", "지역", "종교", "기타혐오", "악플/욕설"]
        };
        var mypieChart = new Chart(ctx_3, {
            type: 'pie',
            data: data_3,
            options: {
              layout:{padding:20},
                responsive: false,
                maintainAspectRatio: false,
                plugins:{
                  title:{display:true,text:'일간 혐오표현 유형별 통계(해당없음 포함)'},
                  legend:{
                    labels:{
                      boxWidth:40,
                      boxHeight:5,
                    }
                  }
                },

            }
        });

        var ctx_4 = document.getElementById("myChart4").getContext('2d');
        var data_4 = {
          label:'일간 혐오표현 유형별 통계',
            datasets: [{
                data: [datas[0][2], datas[1][3], datas[2][4], datas[3][5], datas[4][6], datas[5][7],
                datas[6][8], datas[7][9], datas[8][10]],
                backgroundColor: ['#f56954','#f39c12','#dfaebd','#434343','#33115c',
                '#226d1f','#069583','#95c798','#3c8dbc'],
            }],
            labels: ["여성/가족", "남성", "성소수자", "인종/국적", "연령", "지역", "종교", "기타혐오", "악플/욕설"]
        };
        var mypieChart = new Chart(ctx_4, {
            type: 'pie',
            data: data_4,
            options: {
              layout:{padding:20},
                responsive: false,
                maintainAspectRatio: false,
                plugins:{
                  title:{display:true,text:'일간 혐오표현 유형별 통계'},
                  legend:{
                    labels:{
                      boxWidth:40,
                      boxHeight:5,
                    }
                  }
                },

            }
        });
    });
</script>

</body>
{% endblock %}